* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Electrolize', sans-serif;
}
html,
body,
#root {
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

/* Estilo para Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c9bb92; /* Cor da alça da barra de rolagem */
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #dadada; /* Cor de fundo da barra de rolagem */
}

body {
  scrollbar-width: thin; /* Para Firefox */
  scrollbar-color: #c9bb92 #dadada; /* Para Firefox */
}

.container {
  width: 100%;
  height: 100%;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
}

#intro{
  display: flex;
  justify-content: center;

  > *{
    max-width: 1900px;
  }
  
  & .card{
    background-color: #f8f3e4;
    width: 85%;
    border-radius: 30px;
    padding: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & img {
      width: 100%;
    }

    & .card-texto{
      width: 50%;
      height: 100%;

      & h2{
        font-weight: 800;
        font-size: 4.2rem;
        line-height: 6rem;
        max-width: 80%;
        margin-bottom: 18%;
        @media screen and (max-width: 1232px){
          max-width: 100%;
          margin-bottom: 8%;
          @media screen and (max-width: 1080px){
            max-width: 60%;
            @media screen and (max-width: 822px){
              max-width: 80%;
              line-height: 4.5rem;
              @media screen and (max-width: 620px){
                font-size: 3em;
                @media (max-width: 440px) {
                  max-width: 80%;
                  font-size: 2em;
                  line-height: normal;
                }
              }
            }
          }
         }
      }
  
      & p{
        font-size: 1.3rem;
        font-weight: 400;
      }
    }
    
    @media screen and (max-width: 1080px) {
      flex-direction: column;

      .card-texto{
        width: 100%;
      }
    }
  }
}

#skill{
  background-color: #FFDCA4;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  
  & > * {
    max-width: 1900px;
  }
  
  & .card{
    display: flex;
    justify-content: center;
    width: 100%;
    
    & .conteudo{
      width: 90%;
      background-color: #f8f3e4;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-radius: 15px;
      margin: 5%;
      padding: 2%;
      align-items: center;

      & .hard-skill{
        margin-bottom: 15px;

        & .texto{
          display: flex;
          flex-direction: column;  
          
        }

        & .images{
          margin-top: 25px;
          display: flex;
          justify-content: center;
          flex-wrap: wrap;
        }
      } 

      & .soft-skill{
        gap: 25px;
        width: 70%;
        margin: 5%;
        display: flex;
        flex-direction: column;
        
        & .skill{
          display: flex;
          flex-direction: row;
          align-items: center;
          
          & img{
            width: 50px;
            margin-right: 20px;
          }
        }

        @media screen and (max-width: 1080px){
          width: 100%;
        }
      }
      
      & p{
        font-size: 1.3rem;
      }
      
      & h1{
        font-size: 4.2rem;
        font-weight: 800;
        max-width: 60%;
        margin-bottom: 1.3em;
      }
      
      & h2{
        align-self: center;
        font-size: 2.1em;
      }      
    }
  }
}

#projects {
  background-color: #f8f3e4;
  width: 100%;
  display: flex;
  justify-content: center;
  
  & > * {
    max-width: 1900px;
  }
  
  .card{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    
    .titulo{
      margin: 2.3%;
      margin-bottom: 6%;

      p{
        font-size: 1.3em;
      }
      h1{
        font-size: 4.5em;
      }
    }

    .div-projeto{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 18px;
      margin-bottom: 15px;
    }
  }
}

#about{
  display: flex;
  justify-content: center;
  & > *{
    max-width: 1900px;
  }
  
  & .card{
    min-height: 100vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
    
    & img{
      margin: 3%;
      width: 400px;
    }
    
    & .texto-about{
      margin: 5%;
    }
    .titulo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-right: 2%;
      h1{
        font-size: 3em;
      }

      button{
        background-color: #d4ba90;
        padding: 10px;
        border-radius: 7px;
        border: 2px solid #826357;
        font-weight: 700;
        cursor: pointer;
        transition: background-color 0.5s;
        a{
          display: flex;
          align-items: center;
          gap: 10px;
          text-decoration: none;
          color: #251915;
        }
      }
    }
  
    & p{
      margin-top: 5%;
      font-size: 1.2em;
    }

    @media screen and (max-width: 1080px) {
      flex-wrap: wrap;
      justify-content: center;
      img{
        width: 300px;
        @media screen and (max-width: 300px){
          width: 200px;
        }
      }
      h1 {
        font-size: 2;
      }
    }
  }
}

#education {
  display: flex;
  justify-content: center;

  > * {
    max-width: 1900px;
  }

  .card {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2%;

    .texto {
      padding: 20px;
      margin-bottom: 3em;

      span {
        display: block;
        font-size: 18px;
        color: #333;
      }

      h2 {
        font-size: 36px;
        color: #333;
        font-size: 3rem;
        @media screen and (max-width: 450px){
          font-size: 1.9em;
        }
      }
    }
  }
}

