@font-face {
  font-family: 'Inconsolata';
  src: local('Inconsolata'), url(./fonts/Inconsolata/Inconsolata-VariableFont_wdth,wght.ttf) format('truetype');
}

.container {
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
}

#intro{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  
  .card{
    background-color: #f8f3e4;
    width: 95%;
    border-radius: 30px;
    padding: 5%;
    margin-top: 2%;
    align-items: center;
    display: flex;
    justify-content: space-around;

    & h2{
      // background-color: #e3ffc9;
      font-weight: 800;
      font-size: 4.2rem;
      line-height: 6rem;
      max-width: 550px;
      margin-bottom: 5%;
      margin-left: 18px;
    }

    & p{
      // background-color: #e9c9ff;
      font-size: 1.3rem;
      font-weight: 400;
      max-width: 530px;
      margin-left: 18px;
    }
  }
}

#about{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2%;
  margin-top: 1%;
  align-items: center;
  // background-color: #d6a475;
  
  .conteudo-about{
    // background-color: #f19f9f;
    padding: 2%;
    margin: 1%;
    // width: 35%;
    margin-left: 5%;
    
    & h1{
      font-size: 3em;
    }
    & p{
      margin-top: 5%;
      font-size: 1.15em;
    }
  }
}


